<form action="/addPostagem" method="POST" lang="pt-br">
    {{!-- <label id="titulo">Título: </label> --}}
    <p>Título:</p>
    <input type="text" name="titulo" id="titulo">

    {{!-- <label id="conteudo">Conteúdo: </label> --}}
    <p>Conteúdo: </p>
    <textarea name="conteudo" id="conteudo"></textarea>

    <button type="submit">Cadastrar postagem</button>
</form>